* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &_airport {
    background-image: url(https://www.itl.cat/pngfile/big/39-399672_high-quality-airport-wallpaper-airport-wallpaper-night.jpg);
  }

  &_scoreboard {
    display: flex;
    flex-direction: column;
    background-color: #e9efec;
  }
}

i.fas {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-right: -26px;
  margin-top: 22px;
  position: relative;
  left: 15px;
  z-index: 1;
  float: left;
  font-size: 22px;
  color: #96989a;
}

.flights {
  display: flex;
  flex-direction: column;
  width: 37%;

  &-title {
    color: #fff;
    font-weight: 300;

    &_scoreboard {
      color: black;
    }
  }

  &__search-field {
    padding: 0 50px;
    width: 70%;
    height: 70px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;

    &::placeholder {
      font-size: 18px;
      font-weight: 400;
    }
  }

  &__search-btn {
    width: 30%;
    height: 70px;
    background-color: #53b5e9;
    color: #fff;
    border: none;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0 70px 0 0;
    transition: 0.4s;

    &:hover {
      transition: 0.4s;
      border-radius: 0 35px 0 0;
    }
  }

  &-btns {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }

  &-btn {
    width: 230px;
    height: 50px;
    position: relative;
    border: none;
    border-radius: 5px;
    transition: 1.5s;
    font-weight: 700;
    background-color: #fff;
    color: #53b5e9;

    &:hover {
      transition: 0.4s;
      background-color: #53b5e9;
      color: #fff;
    }

    &_departures {
      border-top-right-radius: 80px;

      &:hover {
        border-top-right-radius: 30px;
      }
    }

    &_arrivals {
      border-top-left-radius: 80px;

      &:hover {
        border-top-left-radius: 30px;
      }
    }

    &__scoreboard {
      width: 400px;
      border-radius: 40px 40px 0 0;
      color: #fff;
      background-color: #89d0ed;

      &_selected {
        z-index: 1;
        color: #53b5e9;
        background-color: #fff;

        &:hover {
          background-color: #fff;
          color: #53b5e9;
        }
      }

      &_departures {
        width: 520px;
        position: absolute;
        left: 324px;
      }

      &_arrivals {
        width: 350px;
        margin-left: 441px;
      }
    }
  }
}

span.fas {
  margin: 10px;
}

.scoreboard {
  width: 55%;
  background-color: #fff;
  color: #97999b;
  font-size: 13px;
  padding-top: 30px;

  &-row {
    font-size: 15px;
    text-align: left;
    color: black;
    height: 60px;

    &_even {
      background-color: #e9eff2;
    }
  }
}

.no-flights__text {
  padding: 150px 0;
  font-size: 20px;
  text-align: center;
}
